ion-header {
	position: relative;
	height: 20%;
}

ion-toolbar {
	background-color: #fff;
	height: 100%;
}

.toolbar-content {
	height: 100%;
}

#btns-container {
	position: relative;
	top: 8%;
}

#less-logo {
	height: 100%;
}

#play-btn {
	margin-top: 7%;
}

#help-btn {
	margin-top: 3%;
}